asgiref==3.2.10
cffi==1.14.4
chardet==4.0.0
cryptography==3.3.1
Django==3.0.7
django-environ-plus==0.0.3
djangorestframework==3.11.0
pdfminer.six==20201018
pycparser==2.20
PyPDF2==1.26.0
pytz==2020.1
six==1.15.0
sortedcontainers==2.3.0
sqlparse==0.3.1
