.bdrbtn {
	border: none;
  
}

.lefttable {  
  
 
}

.maintable {
  
  
}

.maintable td,th {
	margin: 5px;
	padding: 10px;
}

#leftPanel {
	margin: 50px;
	
	
}

#aggregates {
	 margin: 50px;
	 
	 
}

