{% extends "proj5FinTracker/layout.html" %}
{% load static %}

{% block body %}

  <div  class="container">
	<h2>Input Bank Statements/Documents</h2>	
	
	<div class="form-group">
		<form id="input-form" method="post" action="{% url 'vupload' %}" enctype="multipart/form-data">
			{{ tform.as_p }}
			{% csrf_token %}
			<input type="hidden" id="unfound" value="{{ dmp }}" />				
		</form>
		<button type="submit" id="input-form-button" form="input-form" class="btn btn-primary" value="Submit">Submit</button>
	</div>	
  </div>
		
{% endblock %}

{% block script %}
	 <script src="{% static 'FinTracker/input.js' %}"></script>
{% endblock %}